<nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="light">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">A PROPOS DE LYARHAIR</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">HISTOIRE DE NOTRE MARQUE</a>
						<a class="dropdown-item" href="#">SOINS CAPILLAIRES</a>
						<a class="dropdown-item" href="#">CONTACTEZ NOUS</a>
					</li>
				</li>