{% extends 'base.html.twig' %}

{% block title %}Modifier un Produit
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Modifier un Produit</h1>

				{{ include('produit_crud/_form.html.twig', {'button_label': 'Modifier'}) }}

				<a href="{{ path('app_produit_crud_index') }}">Retour a la liste</a>

				{{ include('produit_crud/_supprimer_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
